<!DOCTYPE HTML PUBLIC "-­‐//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <title>EventeX</title>
        <link type="text/css" href="{{ STATIC_URL }}css/style.css" rel="stylesheet" media="screen"/>
    </head>
<body>
    <div id="page">
        <div id="header">
        ...
        </div>
        <hr>
        <div id="content">
            {% block content %}
            {% endblock content %}
        </div>
    ...
    </div>

    <!-- <img src="{{ STATIC_URL }}img/logo.png" /> -->
    <!-- <h1>Bem&#45;vindo ao EventeX!</h1> -->
    <!-- <p>O evento mais sensacional do ano depois do Dev in Rio!</p> -->
</body>
</html>
